.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.content .row {
    gap: 5%;
    justify-content: space-around;
    height: 40%;
    padding: 0 3%;
}

.content .row .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.content .row .card img{
    width: 40%;
}