
section#hero {
    height: 100vh;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    
}

section#hero .hero-content {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section#hero .hero-content .subtitle{
    padding: 20px;
    border-radius: 10px;
    color: var(--color-fg-accent);
}

section.slidershow {
    width: 80%;
    max-width: 1500px;
    min-height: 850px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

section.slidershow .slides {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    
}

section.slidershow .slides .slide {
    width: 0;
    overflow: hidden;
    transition: width 0.5s;
    height: 100%
}

section.slidershow .slides .slide.active {
    width: 100%;
    transition: width 0.5s;
}   

section.slidershow .slides .slide img {
    height: 100%;
    width: 100%;
    max-width: 100%;
    display: block;
    transition: 0.5s;
    object-fit: contain;
}



section.slidershow .controls {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

section.slidershow .controls .arrow {
    background-color: var(--arrow-bg);
    color: var(--color-fg);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
}

section.slidershow .controls .arrow:hover {
    background-color: var(--color-bg-secondary);
    transition: background-color 0.3s;
}
